
body{
    background-color: #000000;
    font-family: sans-serif;
}
main{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
 
    row-gap: 20px;
}

img{
    max-width: 400px;
}

h1{
    color: #FFFFFF;
    font-size: 4rem;
}